@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
  font-family: nunito;
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: 0;
  color: #161B26;
  text-decoration: none;
  line-height: 25px;
  position: relative;
}

.nav a:hover {
  color: #9C759D;
}


.main-nav {
  text-align: center;
  font-size: 1.5em;
  line-height: 68px;
}

.main-nav li {
  padding: 0 3%;
}

.main-header {
  background: #FFE4FE;
  height: 70px;
  background-size: cover;
}

.title-thing {
  text-align: center;
}

h1 {
  color: black;
}

h2 {
  color:#161B26;
}

h3 {
  color: grey;
  text-align: center;
}

.main-image {
  height: 150px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.main-image2 {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 100%;
}

.main-image3 {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 100%;
}

.description-2 {
  text-align: center;
  color:grey;
}

.invite-button {
  background-color: #FFD2FD;
  width: 350px;
  height:50px;
  display: block;
  border-radius: 10px;
  border: none;

  margin-left: auto;
  margin-right: auto;

  color: #161B26;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 5px;

  transition: ease-out 0.2s;
}

.invite-button:hover {
  box-shadow: inset 350px 0 0 0 #8CFFFD;
}

.invite-button-2 {
  background-color: #FFAF8C;
  width: 350px;
  height:50px;
  display: block;
  border-radius: 10px;
  border: none;

  margin-left: auto;
  margin-right: auto;

  color: #161B26;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 5px;

  transition: ease-out 0.2s;
}

.invite-button-2:hover {
  box-shadow: inset 350px 0 0 0 #FFF867;
}

.cool-feet {
  background-color: #F4F4F4;
  color: #161B26;
  padding: .25em;
  text-align: center;
  display: block;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.fab {
  color: black;
}

.cool-feet a {
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  padding: 0 1%;
  right: 20px;
}

.fab:hover {
  color:#614E62;
}


h5 {
  color:#161B26;
}

/*thank you github for breaking the social buttons on the footer, very cool.*/